@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url(print.css);

body{
	font-family: "Roboto Mono", "Courier New"
}

h1{
	font-weight: bold;
}

.item{
	display: inline-block;
	max-width: 300px;
	width: 100%;
	border: 1px solid silver;
	margin-bottom: 20px;
	margin-right: 20px;
	background-color: #e5e5e5;
	box-shadow: #00000045 2px 2px 10px 0px;
	vertical-align: top;
	cursor: pointer;
}

.cmd{
	background:black;
	color: #ffffff;
	padding:10px;
	line-height: 1em;
	font-weight: bold;
}


.render.example{
	color:silver;
}

.details .render.example{
	font-weight: bold;
	color:black;
}



.key{
	font-weight: bold;
	border-radius: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #ffffff;
}

.cmd .key{
	background: #000000;
}

.item .description .key{
	background: #a8a8a8;
	border-color: black;
}

.metainfo{
	padding:10px;
	font-size: 0.8rem;
}

.metainfo .details{
	opacity: 0.6;
	font-size:0.9em;
}

@media screen and (max-width: 675px) { 
	body{
		padding:0px;
	}
	.item{
		max-width: 100%
	}
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}